<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recomendaciones</title>
    <link rel="stylesheet" href="../sitios/css/estilos.css">
</head>
<body>
    <header>
        <h1>Recomendaciones</h1>
      </header>

      <nav>
        <ul>
          <li><a href="/">Inicio</a></li>
          <li><a href="../views/templates/menu.ejs">Menú</a></li>
          <li><a href="../views/visitas.ejs">Visitas</a></li>
          <li><a href="..//views/recomendaciones.ejs">Recomendaciones</a></li>
        </ul>
      </nav>

      <main>
        <h2>Recomendaciones</h2>
        <div id="Recomendaciones-container"></div>
        
      </main>
    
      <footer>
        <p>&copy; 2023 Restaurante Inteligente. Todos los derechos reservados.</p>
      </footer>
    
      <script src="../index.js"></script>
    
</body>
</html>